<% include ../partials/header %>

<h1 style="text-align: center">Edit Your Comment to <%= campground.name %></h1>

<div style="width: 30%; margin: 25px auto">
    <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
        <div class="form-group">
            <label for="inputText">Text:</label>
            <textarea class="form-control" name="comment[text]" id="inputText" required><%= comment.text %></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block">Submit!</button>
        </div>
    </form>

    <a href="/campgrounds/<%= campground._id %>">Go Back</a>
</div>

<% include ../partials/footer %>