<% include ../partials/header %>

<div class="row">
    <!-- Map Section -->
    <div class="col-lg-3 mb-4">
        <div class="sticky-top">
            <div id="map"></div>
        </div>
    </div>

    <!-- Campground Section -->
    <div class="col-lg-9">
        <div class="card mb-3">
            <img class="card-img-top" src="<%= campground.image %>" alt="campground image">
            <div class="card-body">
                <% const price = campground.price > 0 ? "$" + campground.price + "/night" : "Free!" %>
                <h6 class="float-right mt-1"><%= price %></h5>
                <h3 class="card-title"><a href="#"><%= campground.name %></a></h3>
                <p class="card-text"><%= campground.description %></p>
                <p class="card-text">
                    <em>Submitted By <a href="/users/<%= campground.author.id %>"><%= campground.author.username %></a>, <%= moment(campground.createdAt).fromNow() %></em>
                </p>
                <% if (currentUser && (campground.author.id.equals(currentUser._id) || currentUser.isAdmin)) { %>
                    <div class="float-right">
                        <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                        <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                <% } %>
            </div>
        </div>

        <!-- Review Section -->
        <div class="card bg-light mb-3">
            <div class="card-body">
                <% if (campground.rating === 0) { %>
                    <h6 class="card-title"><em>No reviews yet...</em></h6>
                <% } else { %>
                    <div class="text-right pr-5">
                        <h6 class="card-title">
                            <i class="fas fa-star checked"></i>
                            <i class="fas fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"></i>
                            <i class="fas fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"></i>
                            <i class="fas fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"></i>
                            <i class="fas fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"></i>
                            <em>(<%= campground.reviews.length %> review<%= campground.reviews.length > 1 ? "s" : "" %>)</em>
                        </h6>
                        <p class="card-text">
                            Current rating: <strong><%= campground.rating.toFixed(2) %></strong>
                        </p>
                    </div>
                    <h4 class="card-text">Latest Reviews:</h4>
                    <hr class="mt-0">
                <% } %>
                <% campground.reviews.slice(0, 3).forEach((review) => { %>
                    <div class="row card-text">
                        <div class="col-lg-3">
                            <%- '<i class="fas fa-star checked"></i>'.repeat(review.rating) %><%- '<i class="fas fa-star"></i>'.repeat(5 - review.rating) %>
                            <div>
                                Review by <a href="/users/<%= review.author.id %>">
                                    <i class="fas fa-user <% if (currentUser && (review.author.id.equals(currentUser._id))) { %> checked <% } %>"></i><%= review.author.username %>
                                </a>
                            </div>
                            <span><em><%= review.updatedAt.toDateString() %></em></span>
                        </div>
                        <div class="col-lg-9">
                            <% if (review.text.length !== 0) { %>
                                <p>
                                    "<%= review.text %>"
                                </p>
                            <% } %>
                            <% if (currentUser && (review.author.id.equals(currentUser._id) || currentUser.isAdmin)) { %>
                                <div class="float-right">
                                    <a class="btn btn-warning btn-sm" href="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>/edit">Edit</a>
                                    <form class="d-inline" action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-danger btn-sm">Delete</button>
                                    </form>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <hr>
                <% }); %>
                <div class="card-text">
                    <% if (campground.rating !== 0) { %>
                        <h5>
                            <a href="/campgrounds/<%= campground._id %>/reviews"><i class="fas fa-search"></i>See all reviews</a>
                        </h5>
                    <% } %>
                    <% if (currentUser) { %>
                        <a class="btn btn-primary mt-2 <% if (campground.reviews.some((review) => review.author.id.equals(currentUser._id))) { %> disabled <% } %>"
                            href="/campgrounds/<%= campground._id %>/reviews/new">
                            Write a New Review
                        </a>
                    <% } %>
                </div>
            </div>
        </div>

        <!-- Comment Section -->
        <div class="card bg-light mb-3">
            <div class="card-body">
                <!-- Add -->
                <% if (currentUser) { %>
                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-sm btn-success float-right" data-toggle="collapse"
                            href="#collapseAddComment" role="button" aria-expanded="false"
                            aria-controls="collapseAddComment">
                                <i class="fas fa-plus"></i>Add New Comment
                            </a>
                            <h5 class="align-bottom d-inline mb-0"><strong>Comments <i class="far fa-comment-alt"></i></strong></h5>
                            <div class="collapse" id="collapseAddComment">
                                <div class="card bg-light card-body addComment">
                                    <h5>Write your comment <i class="fas fa-pencil-alt"></i></h5>
                                    <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
                                        <div class="form-group">
                                            <input class="form-control"  type="text" value="<%= currentUser.username %>" disabled>
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" name="comment[text]" placeholder="Write your comment..." required></textarea>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-success btn-sm">Comment <i class="fas fa-comment-alt"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                <% } %>
                <% if(campground.comments.length === 0) { %>
                    <em>No comments yet...</em>
                <% } %>
                <% campground.comments.forEach((comment) => { %>
                    <div class="row">
                        <div class="col-md-12 mb-3 card-text">
                            <strong>
                                <a href="/users/<%= comment.author.id %>">
                                    <i class="fas fa-user <% if (currentUser && (comment.author.id.equals(currentUser._id))) { %> checked <% } %>"></i><%= comment.author.username %>
                                </a>
                            </strong>
                            <em class="float-right"><%= moment(comment.createdAt).fromNow() %></em>
                            <p class="card-text mb-1"><%= comment.text %></p>
                            <% if (currentUser && (comment.author.id.equals(currentUser._id) || currentUser.isAdmin)) { %>
                                <div class="float-right">
                                    <a class="btn btn-sm btn-warning" data-toggle="collapse"
                                    href="#collapseEditComment<%= comment._id %>" role="button" aria-expanded="false"
                                    aria-controls="collapseEditComment<% comment._id %>">
                                        Edit
                                    </a>
                                    <form class="d-inline"
                                    action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE"
                                    method="POST">
                                        <button class="btn btn-sm btn-danger">Delete</button>
                                    </form>
                                </div>
                                <!-- Edit -->
                                <div class="collapse" id="collapseEditComment<%= comment._id %>">
                                    <div class="card bg-light card-body editComment">
                                        <h5>Edit your comment <i class="fas fa-edit"></i></h5>
                                        <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                                            <div class="form-group">
                                                <input class="form-control"  type="text" value="<%= currentUser.username %>" disabled>
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" name="comment[text]" placeholder="Write your comment..." required><%= comment.text %></textarea>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-success btn-sm">Edit Comment <i class="fas fa-comment-alt"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<script>
    function initMap() {
        const center = {
            lat: <%= campground.lat %>,
            lng: <%= campground.lng %>
        };  
        const map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: center,
            scrollwheel: false
        });
        const contentString = `
            <strong><%= campground.name %><br />
            <%= campground.location %></strong>
            <p><%= campground.description %></p>
        `
        const infoWindow = new google.maps.InfoWindow({
            content: contentString
        });
        const marker = new google.maps.Marker({
            position: center,
            map: map,
            title: "<%= campground.name %>"
        });
        marker.addListener("click", function() {
            infoWindow.open(map, marker);
        });
    }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkV5Lo9V013EhHl5IFPxIi4cl9yKoyz-s&callback=initMap">
</script>

<% include ../partials/footer %>